body {
  display: flex;
  flex-direction: column;
  background-color: #AAA !important;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Bitter', serif !important;
  color: #555;
}
.btn-primary {
  background-color: #ddd !important;
  border-color: #aaa !important;
  color: #555 !important;
  border-radius: 2px !important;
  font-family: 'Bitter', serif;
}
.configs-btn {
  width: 100%;
  font-family: 'Bitter', serif;
  font-size: 1.1em !important;
}
.top-section {
  position: relative;
  height: 90%;
  width: 100%;
  border: 2px solid blue;
}
.bottom-section {
  min-height: 50px;
}
.bottom-section-cell {
  border: 2px solid blue;
}
.side-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid #777;
  flex-grow: 1;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 250px;
  min-width: 150px;
  padding-bottom: 10px;
  overflow-y: auto;
  flex-shrink: 1;
}
hr {
  width: 85%;
  border-top: 2px solid #777 !important;
}
.main-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  margin: 0;
  min-width: 980px;
}

.center-column {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 0px;
}

#canvas {
  min-width: 0px;
  min-height: 0px;
  border: 1px solid #555;
  flex-shrink: 1;
  flex-grow: 1;
  outline: none;
}

.control-bar {
  display: flex;
  align-items: stretch;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  justify-content: space-between;
  height: 40px;
  max-height: 40px;
  min-width: 0px;
  flex-shrink: 1;
  flex-grow: 0;
}

.button-section {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 1;
  max-width: 200px;
}

.control-btn {
  margin-right: 5px;
  font-size: 1.2em !important;
  padding: 2px 5px 0px 5px !important;
}

.control-txt-btn {
  margin-right: 5px;
  font-size: 1.2em !important;
  padding: 0px 5px 1px 5px !important;
}

.btn:focus,.btn:active {
   outline: none !important;
}

.btn:hover {
  background-color: #eee !important;
}

.btn:active {
  background-color: #ccc !important;
}

.speed-section {
  display: flex;
  min-width: 50px;
  flex-shrink: 2;
  flex-grow: 0.5;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  margin-left: 5px;
}

.speed-slider {
  max-width: 250px;
  min-width: 50px;
  margin-left: 10px;
}

.btn:hover {
  background-color: #eee !important;
}

.title {
  color: #555;
  font-family: 'Sahitya', serif;
  font-size: 40px;
  line-height: 80px;
}
.big-c {
  font-size: 80px;
}

li {
  font-family: 'Bitter', serif;
}

.dropdown-menu {
  background-color: #AAA !important;
}

.minor-title {
  font-family: 'Bitter', serif;
  font-size: 1.5em;
  color: #555;
  text-align: center;
}

.intermediate-title {
  font-family: 'Bitter', serif;
  font-size: 2.0em;
  color: #555;
  text-align: center;
}

.config-description {
  overflow-y: auto;
}

.config-description-body {
  font-family: 'Bitter', serif;
  font-size: 1em;
  color: #555;
  line-height: 150%
}

.controls-text {
  margin-top: 10px;
  font-family: 'Bitter', serif;
  font-size: 1em;
  color: #555;
}

.controls-section {
  margin-top: 12px;
}

.controls-subsection {
  margin-bottom: 8px;
}

.about-title {
  margin-top: 25px;
  margin-bottom: 10px;
}

.about-text {
  font-family: 'Bitter', serif;
  font-size: .9em;
  color: #555;
  line-height: 150%
}

.bolded {
  font-weight: bold;
}

.left-column {
  justify-content: space-between;
  padding-bottom: 25px;
}

.column-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 250px;
  padding-bottom: 10px;
}

.small-btn-txt {
  font-size: .8em;
}

.subtitle {
  margin-left: 10px;
  font-family: 'Sahitya', serif;
  font-style: italic;
  color: #555;
}

a:link {
    color: #ddd;
}
a:visited {
    color: #ddd;
}
a:hover {
    color: #12e068 !important;
    text-decoration: none !important;
}
a:active {
    color: #12e068 !important;
}

.dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #AAA !important;
}

.main-hr {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 20%;
}

.note {
  margin-top: 3px;
  font-size: 0.8em;
  color: #666;
}

.writeup {
  font-family: 'Bitter', serif;
  width: 700px;
  margin: auto;
  font-size: 1.1em;
  color: #555;
}

.writeup-mobile {
  font-family: 'Bitter', serif;
  width: 100%;
  font-size: 1.1em;
  color: #555;
}

.screenshot {
  border: 1px solid #555;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}

.sc-note {
  margin-bottom: 20px;
}